/* FONTS */

@font-face {
    font-family: "Px Grotesk";
    src: url("../fonts/Px Grotesk Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Px Grotesk";
    src: url("../fonts/Px Grotesk Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Px Grotesk";
    src: url("../fonts/Px Grotesk Regular Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Px Grotesk";
    src: url("../fonts/Px Grotesk Screen.ttf") format("truetype");
    font-weight: 400;   /*screen-schnitt, nicht per css selektierbar; nutzt bold-weight als ersatz*/
    font-style: oblique;
}


/* COLORS */
.orange{color:rgb(231,95,42) !important}
.grey{color:rgb(185,184,184) !important}
.green{color:rgb(90,220,129) !important}
.yellow{color:rgb(245,255,42) !important}
.lila{color:rgb(174,54,248) !important}
.blue{color:rgb(0,65,236) !important}

.pixel{font-style:oblique;}
#landingcanvas .pixel{letter-spacing:-0.25em}


/* GENERAL */

* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
    cursor:url("icon_cursor.ico"),auto;
}

/* weird behavior below, do it with javascript scrolltotop instead, no other use*/
/*
html{scroll-behavior: smooth;}
*/

html,
body {
    font-family:"Px Grotesk";
    letter-spacing:-0.1em;
}


/* HTML Stylings */
a{color:orange !important;}
a, .galeriecatg h2{
    text-decoration:none;
    color:orange;
    -webkit-text-stroke: 1px black; /* not fully supported, add solution with 4 text-shadows! */
    cursor:url("cursor_click.ico"),pointer;
}

a:visited{color:inherit}

a:hover{
    font-style:oblique;
    line-height:0.55;
    letter-spacing:-0.05em;
    display:inline-block;
    cursor:url("cursor_click.ico"),pointer !important;
    /*
    -webkit-transform: skewX(-15deg);
    -moz-transform: skewX(-15deg);
     -ms-transform: skewX(-15deg);
      -o-transform: skewX(-15deg);
         transform: skewX(-15deg);
    */
}

.galeriecatg h2:hover{
    font-style:oblique;
    letter-spacing:-0.05em;
    line-height:1.12;
    cursor:url("cursor_click.ico"),pointer !important;
}

/* PROPERTIES */
.bordered{
    -webkit-text-stroke: 1px black; /* not fully supported, add solution with 4 text-shadows! */
}

.marginless{
    margin:0;
}

.spacer{
    margin:8em auto;
    vertical-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spacer-small{
    margin:4em auto;
}

.spacer-top{
    margin-top: 4em;
}

.spacer-bottom{
    margin-bottom: 4em;
}

/* Headings */
h1,h2,h3,h4{font-weight:normal;}

h1, h2, h3{
    font-size:1em;
    font-size:1.2em;
}

h1{margin:0;}

h2{
    margin:0;
}

h3{
    margin:0;
    -webkit-text-stroke: 1.5px black; /* not fully supported, add solution with 4 text-shadows! */
}


/* TITLE */

#landingcanvas {
    /*
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
    */
    width:100%;
    min-height:calc(100vh - 4em);
}

#animCanvas{
    position:fixed;
    top:0;
    left:0;
    pointer-events:none;
}

.movetext{
    font-size:49.8vh; /* fix for all resolutions and aspects*/
    line-height:0.6;
    letter-spacing: -0.2em;
    -webkit-text-stroke: 4px black; /* not fully supported, add solution with 4 text-shadows! */
    flex-basis: content;
    margin-right:0.2em;
    display:inline-block;
}


/* CONTENT */

.content-block{
    /*margin-top:1em;*/
    padding: 0 0.25em;
    font-size:3.5em;
}

.paddingless{
    padding: 0;
    font-size:3.5em;
}

.marginchild{
    padding: 0 0.25em;
}

.textfrage{
    margin-bottom:1em;
}

.textblock{
    margin-bottom:1em;
    line-height:1.05;
}

.grosstext{
    font-size:1.9em;
    letter-spacing:-0.05em;
    font-style:oblique;
}

.smalltext{font-size:2em;}



/* Swiper */
.swiper-container {
    width: 100%;
    height: auto;
    /*display:none; *//* intially not visible, getstoggled by clicking agaleriectg*/
}

.swiper-button-disabled{
    opacity:0 !important;
}

.swiper-button-next, .swiper-button-prev{
    width:50% !important;
    height:100% !important;
    top:0 !important;
}
.swiper-button-prev{
    cursor: url(arrow_left.png),auto !important;
}
.swiper-button-next{
    cursor: url(arrow_right.png),auto !important;
}
.swiper-button-next:after, .swiper-button-prev:after{
    display:none;
}
.swiper-button-prev:focus, .swiper-button-next:focus{outline-width:0;}


/* GALERIE */

.galeriecatg {
    min-height:1.1em;
    vertical-align: bottom;
}

/* Dropdown Icon */
.dropIcon{
    -moz-transition: transform 0.25s;
    -webkit-transition: transform 0.25s;
    transition: transform 0.25s;
    display:inline-block;
    min-width:0.5em;
    font-style:normal !important;
}

.rotate-180 {
    transform: rotate(-180deg);
}

#fotocarousel{
    /*
    display:flex;
    flex-direction: column;
    */
    margin-bottom:1em;
}

.coming-soon{
    color:black;
    margin-left:0.75em;
    margin-bottom:1em;
}

/* Pop-Ups */
.foto{
}


/* TEAM */


#team th {  /* Team Tabellenheader */
    font-weight:normal;
    text-align: left;
    display:block;
    margin-top: 1em;
}

#team tr td:nth-child(1) {
    padding-right:1em;
}





/* ARMGART Event-Erinnerung */
#armgart{
}

.armgart-popup{
    margin:20vh auto;
    display: block;
    width: fit-content;
    vertical-align: center;
    /*
    bottom:20%;
    left:30%;
    */
}

#backtotop{
    position: static;
    margin-top:4em;
    bottom:0;
    height:1.1em;
}

/* FOOTER */
#footer{
    font-size:3.5em;
    padding:0.25em;
    position:static;
    width:100%;
    bottom:0;
    display:flex;
    justify-content: left;
    flex-wrap:wrap;
}

.footer-link{
    display:inline-block;
    margin-right:2em;
    width:auto;
}

.footer-link a{
    -webkit-text-stroke: 0;
    color:black !important;
}

.footerlogo{
    height:1em;
}

.title-linebreak{display:none;}


/* BREAKPOINTS */

@media all and (max-width: 1160px){
    body{font-size:12px;}
	table#teamtable, thead, tbody, th, td, tr { 
		display: block; 
	}
    #team tr td:nth-child(1) {
        padding-right:0;
    }
    table * { display:block !important; padding:0;/*max-width:100%*/ }
    #footer, .footer-link{
        display:block;
    }
}

@media all and (max-width: 800px){
    body{font-size:10px;}
    *{word-break:break-word;}
    #fotocarousel{display:block !important;}
    .title-long{display:none}
    .title-linebreak{display:initial}
}

@media all and (max-width: 482px){
    body{font-size:8px;}
    *{word-break:break-word;}
    #fotocarousel{display:block !important;}
}


